In [1]:
import pandas as pd

In [8]:
df1 = pd.read_excel('stock_price.xlsx', engine = 'openpyxl')
df2 = pd.read_excel('stock_valuation.xlsx', engine = 'openpyxl')

In [9]:
print(df1)
print()
print(df2)

       id stock_name          value   price
0  128940       한미약품   59385.666667  421000
1  130960     CJ E&M   58540.666667   98900
2  138250      엔에스쇼핑   14558.666667   13200
3  139480        이마트  239230.833333  254500
4  142280     녹십자엠에스     468.833333   10200
5  145990        삼양사   82750.000000   82000
6  185750        종근당   40293.666667  100500
7  192400      쿠쿠홀딩스  179204.666667  177500
8  199800         툴젠   -2514.333333  115400
9  204210     모두투어리츠    3093.333333    3475

       id       name           eps     bps        per       pbr
0  130960     CJ E&M   6301.333333   54068  15.695091  1.829178
1  136480         하림    274.166667    3551  11.489362  0.887074
2  138040    메리츠금융지주   2122.333333   14894   6.313806  0.899691
3  139480        이마트  18268.166667  295780  13.931338  0.860437
4  145990        삼양사   5741.000000  108090  14.283226  0.758627
5  161390      한국타이어   5648.500000   51341   7.453306  0.820007
6  181710  NHN엔터테인먼트   2110.166667   78434  30.755864  0.827447
7  185750        종근당   3990.333333   40684  25.185866  2.470259
8  204210     모두투어리츠     85.166667    5335  40.802348  0.651359
9  207940   삼성바이오로직스   4644.166667   60099  89.790059  6.938551

In [10]:
merge_outer_n = pd.merge(df1, df2) # 따로 index 열을 지정해주지않으면 중복된 값들이 멀티 인덱스로 들어갈 수 있다.

In [13]:
print(merge_outer_n)

       id stock_name          value   price    name           eps     bps  \
0  130960     CJ E&M   58540.666667   98900  CJ E&M   6301.333333   54068
1  139480        이마트  239230.833333  254500     이마트  18268.166667  295780
2  145990        삼양사   82750.000000   82000     삼양사   5741.000000  108090
3  185750        종근당   40293.666667  100500     종근당   3990.333333   40684
4  204210     모두투어리츠    3093.333333    3475  모두투어리츠     85.166667    5335

         per       pbr
0  15.695091  1.829178
1  13.931338  0.860437
2  14.283226  0.758627
3  25.185866  2.470259
4  40.802348  0.651359

In [16]:
merge_outer = pd.merge(df1, df2, how = 'outer', on = 'id')

In [17]:
print(merge_outer)

        id stock_name          value     price       name           eps  \
0   128940       한미약품   59385.666667  421000.0        NaN           NaN
1   130960     CJ E&M   58540.666667   98900.0     CJ E&M   6301.333333
2   138250      엔에스쇼핑   14558.666667   13200.0        NaN           NaN
3   139480        이마트  239230.833333  254500.0        이마트  18268.166667
4   142280     녹십자엠에스     468.833333   10200.0        NaN           NaN
5   145990        삼양사   82750.000000   82000.0        삼양사   5741.000000
6   185750        종근당   40293.666667  100500.0        종근당   3990.333333
7   192400      쿠쿠홀딩스  179204.666667  177500.0        NaN           NaN
8   199800         툴젠   -2514.333333  115400.0        NaN           NaN
9   204210     모두투어리츠    3093.333333    3475.0     모두투어리츠     85.166667
10  136480        NaN            NaN       NaN         하림    274.166667
11  138040        NaN            NaN       NaN    메리츠금융지주   2122.333333
12  161390        NaN            NaN       NaN      한국타이어   5648.500000
13  181710        NaN            NaN       NaN  NHN엔터테인먼트   2110.166667
14  207940        NaN            NaN       NaN   삼성바이오로직스   4644.166667

         bps        per       pbr
0        NaN        NaN       NaN
1    54068.0  15.695091  1.829178
2        NaN        NaN       NaN
3   295780.0  13.931338  0.860437
4        NaN        NaN       NaN
5   108090.0  14.283226  0.758627
6    40684.0  25.185866  2.470259
7        NaN        NaN       NaN
8        NaN        NaN       NaN
9     5335.0  40.802348  0.651359
10    3551.0  11.489362  0.887074
11   14894.0   6.313806  0.899691
12   51341.0   7.453306  0.820007
13   78434.0  30.755864  0.827447
14   60099.0  89.790059  6.938551

In [18]:
agg_grouped = grouped.apply(lambda x : x.describe())

NameError: name 'grouped' is not defined