In [1]:
import seaborn as sns

In [2]:
titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age', 'fare']]

print(df.head())
print()

    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500

In [3]:
df['ten'] = 10
print(df.head())

    age     fare  ten
0  22.0   7.2500   10
1  38.0  71.2833   10
2  26.0   7.9250   10
3  35.0  53.1000   10
4  35.0   8.0500   10

In [6]:
def add_two_obj(a,b):
    return a + b

df['add'] = df.apply(lambda df: add_two_obj(df['age'], df['ten']), axis = 1)

In [7]:
df.head()

    age     fare  ten   add
0  22.0   7.2500   10  32.0
1  38.0  71.2833   10  48.0
2  26.0   7.9250   10  36.0
3  35.0  53.1000   10  45.0
4  35.0   8.0500   10  45.0

In [17]:
def missing_value(x):
    return x.isnull()
def missing_count(x):
    return missing_value(x).sum()
def total_number_missing(x):
    return missing_count(x).sum()

In [18]:
result_df = df.pipe(missing_value)
print(result_df.head())

     age   fare    ten    add
0  False  False  False  False
1  False  False  False  False
2  False  False  False  False
3  False  False  False  False
4  False  False  False  False

In [26]:
result_series = df.pipe(missing_count)
print(result_series)
print()

result_value = df.pipe(total_number_missing)
print(result_value)

age     177
fare      0
ten       0
add     177
dtype: int64

354

In [ ]:
df.isnull().sum().sum()